<?xml version="1.0"?>
<configuration>
	<contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
		<resetJUL>true</resetJUL>
	</contextListener>
	<property name="defaultPattern" value="%-5level [%date{'yyyy-MM-dd HH:mm:ss,SSSZ'}] [%thread] %logger: %msg%n%xEx"/>
	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>../logs/clb-nub.log</file>
        <append>false</append>
		<encoder>
			<pattern>${defaultPattern}</pattern>
		</encoder>
	</appender>
	<logger name="org.apache.zookeeper" level="WARN"/>
	<logger name="org.apache.http" level="WARN"/>
	<logger name="com.netflix.curator.framework" level="WARN"/>
	<logger name="com.google.inject.internal.ProxyFactory" level="ERROR"/>
	<logger name="org.gbif.checklistbank.service.mybatis.mapper" level="INFO"/>
	<logger name="com.zaxxer.hikari" level="WARN"/>
    <logger name="org.gbif.checklistbank.neo" level="DEBUG"/>
    <logger name="org.gbif.checklistbank.nub" level="DEBUG"/>

    <root level="INFO">
		<appender-ref ref="FILE"/>
	</root>
</configuration>
